<template>
  <!-- Main Content -->
  <section class="container mx-auto mt-6">
    <div class="md:grid md:grid-cols-3 md:gap-4">
      <app-upload ref="uploadRef" :addSong="addSong"></app-upload>
      <div class="col-span-2">
        <div class="bg-white rounded border border-gray-200 relative flex flex-col">
          <div class="px-6 pt-6 pb-5 font-bold border-b border-gray-200">
            <span class="card-title">My Songs</span>
            <i class="fa fa-compact-disc float-right text-green-400 text-2xl"></i>
          </div>
          <div class="p-6">
            <!-- Composition Items -->
            <composition-item
              v-for="(song, idx) in songs"
              :index="idx"
              :key="song.id"
              :song="song"
              :updateSong="updateSong"
              :removeSong="deleteSong"
              :setEditStatus="setEditStatus"
            ></composition-item>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
//import { useUserStore } from '@/stores/user'
import AppUpload from '@/components/Upload.vue'
import CompositionItem from '@/components/CompositionItem.vue'
import { auth, songsCollection } from '@/includes/firebase'

export default {
  name: 'manage',
  components: {
    AppUpload,
    CompositionItem,
  },
  data() {
    return {
      songs: [],
      isFormEditing: false,
    }
  },
  async beforeCreate() {
    const dbData = await songsCollection.where('uid', '==', auth.currentUser.uid).get()
    dbData.forEach(this.addSong)
  },
  methods: {
    updateSong(index, values) {
      this.songs[index].modified_name = values.modified_name
      this.songs[index].genre = values.genre
    },
    deleteSong(index) {
      this.songs.splice(index, 1)
    },
    addSong(dbRecord) {
      const song = {
        ...dbRecord.data(),
        id: dbRecord.id,
      }
      this.songs.push(song)
    },
    setEditStatus(value) {
      this.isFormEditing = value
    },
  },
  beforeRouteLeave(to, from, next) {
    /**
     * // $refs: vue allows us to access references from the $refs object
      // Here we access the reference for the upload with the ref: 'uploadRef'
      this.$refs.uploadRef.cancelUploads();
     */
    let leave = true
    if (this.isFormEditing) {
      // Show alert to return true or false value
      leave = confirm('You have unsaved changes. Are you sure you want to leave?')
    }

    next(leave)
  },
  // perform routing at the component level
  /*beforeRouteEnter(to, from, next) {
    const store = useUserStore();
    console.log('routing from the component itself');

    if (store.userLoggedIn) {
      next();
    } else {
      next({name: 'home'});
    }
  }*/
}
</script>
