<template>
  <main>
    <!-- Music Header -->
    <section class="w-full mb-8 py-14 text-center text-white relative">
      <div
        class="absolute inset-0 w-full h-full box-border bg-contain music-bg"
        style="background-image: url(/assets/img/song-header.png)"
      ></div>
      <div class="container mx-auto flex items-center">
        <!-- Play/Pause Button -->
        <button
          type="button"
          @click.prevent="newSong(song)"
          class="z-50 h-24 w-24 text-3xl bg-white text-black rounded-full focus:outline-none"
        >
          <i class="fas" :class="{ 'fa-play': !playing, 'fa-pause': playing }"></i>
        </button>
        <div class="z-50 text-left ml-8">
          <!-- Song Info -->
          <div class="text-3xl font-bold">{{ song.modified_name }}</div>
          <div>{{ song.genre || '--unknown genre--' }}</div>
          <div class="song-price">{{ $n(2652, 'currency') }}</div>
        </div>
      </div>
    </section>
    <!-- Form -->
    <section class="container mx-auto mt-6" id="comments">
      <div class="bg-white rounded border border-gray-200 relative flex flex-col">
        <div class="px-6 pt-6 pb-5 font-bold border-b border-gray-200">
          <!-- Comment Count -->
          <span class="card-title">{{
            $tc('song.comment_count', song.comment_count, { count: song.comment_count })
          }}</span>
          <i class="fa fa-comments float-right text-green-400 text-2xl"></i>
        </div>
        <div class="p-6">
          <div
            v-if="commentShowAlert"
            class="text-white text-cneter font-bold p-4 mb-4"
            :class="commentAlertaVariant"
          >
            {{ commentAlertMessage }}
          </div>
          <vee-form @submit="addComment" :validationSchema="commentSchema" v-if="userLoggedIn">
            <vee-field
              as="textarea"
              name="comment"
              class="block w-full py-1.5 px-3 text-gray-800 border border-gray-300 transition duration-500 focus:outline-none focus:border-black rounded mb-4"
              placeholder="Your comment here..."
            ></vee-field>
            <ErrorMessage name="comment" class="text-red-600" />
            <button
              :disabled="commentInSubmission"
              type="submit"
              class="py-1.5 px-3 rounded text-white bg-green-600 block"
            >
              Submit
            </button>
          </vee-form>
          <!-- Sort Comments -->
          <select
            v-model="sort"
            class="block mt-4 py-1.5 px-3 text-gray-800 border border-gray-300 transition duration-500 focus:outline-none focus:border-black rounded"
          >
            <option value="1">Latest</option>
            <option value="2">Oldest</option>
          </select>
        </div>
      </div>
    </section>
    <!-- Comments -->
    <ul class="container mx-auto">
      <li
        v-for="comment in sortedComments"
        :key="comment.id"
        class="p-6 bg-gray-50 border border-gray-200"
      >
        <!-- Comment Author -->
        <div class="mb-5">
          <div class="font-bold">{{ comment.name }}</div>
          <time>{{ getDateDisplay(comment.date_posted) }}</time>
        </div>

        <p>{{ comment.content }}</p>
      </li>
    </ul>
  </main>
</template>

<script>
import { songsCollection, commentsCollection, auth } from '@/includes/firebase'
import { mapState, mapActions } from 'pinia'
import { useUserStore } from '@/stores/user'
import { usePlayerStore } from '@/stores/player'

export default {
  name: 'Song',
  computed: {
    ...mapState(useUserStore, ['userLoggedIn']),
    ...mapState(usePlayerStore, ['playing']),
    sortedComments() {
      // Create a copy of the original array and sort it
      return this.comments.slice().sort((left, right) => {
        if (this.sort == 1) {
          //descending order
          return new Date(left.date_posted) - new Date(right.date_posted)
        }

        return new Date(right.date_posted) - new Date(left.date_posted)
      })
    },
  },
  data() {
    return {
      song: {},
      comments: [],
      commentSchema: {
        comment: 'required|min:3',
      },
      commentInSubmission: false,
      commentShowAlert: false,
      commentAlertaVariant: 'bg-blue-500',
      commentAlertMessage: 'Currently submitting comment',
      sort: 1,
    }
  },
  async created() {
    const snapshot = await songsCollection.doc(this.$route.params.id).get()
    if (!snapshot.exists) {
      this.$router.push({ name: 'home' })
      return
    }

    const { sort } = this.$route.query
    this.sort = sort == 1 || sort == 2 ? sort : 1

    this.song = snapshot.data()
    this.getComments(snapshot.id)
  },
  methods: {
    getDateDisplay(dateStamp) {
      // TODO: display date as either the date stamp or how long ago it was posted up to yesterday hours
      return dateStamp
    },
    ...mapActions(usePlayerStore, ['newSong']),
    async getComments() {
      const snapshots = await commentsCollection.where('songId', '==', this.$route.params.id).get()
      this.comments = []
      snapshots.forEach((snapshot) => {
        this.comments.push({
          id: snapshot.id,
          ...snapshot.data(),
        })
      })
    },
    async addComment(values, context) {
      // Context has methods about the form
      this.commentInSubmission = true
      this.commentShowAlert = true
      const comment = {
        content: values.comment,
        date_posted: new Date().toString(),
        songId: this.$route.params.id,
        name: auth.currentUser.displayName,
        uid: auth.currentUser.uid,
      }

      await commentsCollection.add(comment)
      this.commentInSubmission = false
      this.commentAlertaVariant = 'bg-green-500'
      this.commentAlertMessage = 'Comment added successfully'
      context.resetForm()
      this.song.comment_count += 1
      await songsCollection.doc(this.$route.params.id).update({
        comment_count: this.song.comment_count,
      })
      this.getComments()
      setTimeout(() => {
        // Reset comment box after 2 seconds
        this.commentShowAlert = false
        this.commentAlertaVariant = 'bg-blue-500'
        this.commentAlertMessage = 'Currently submitting comment'
      }, 2000)
    },
  },
  watch: {
    // use a watcher for the sort to identify when the value is changed
    sort(sortValue) {
      // Route has information about the current route while *router is a general routing object
      if (sortValue != this.$route.query.sort) {
        this.$router.push({
          query: {
            sort: sortValue,
          },
        })
      }
    },
  },
}
</script>
