<template>
  <div class="border border-gray-200 p-3 mb-4 rounded">
    <div v-show="!showForm">
      <div
        v-if="showDeleteAlert"
        class="text-white text-center font-bold p-4 m-4"
        :class="alertVariant"
      >
        {{ alertMessage }}
      </div>
      <h4 class="inline-block text-2xl font-bold">{{ song.modified_name }}</h4>
      <button
        class="ml-1 py-1 px-2 text-sm rounded text-white bg-red-600 float-right"
        @click.prevent="deleteSong"
      >
        <i class="fa fa-times"></i>
      </button>
      <button
        class="ml-1 py-1 px-2 text-sm rounded text-white bg-blue-600 float-right"
        @click.prevent="showForm = !showForm"
      >
        <i class="fa fa-pencil-alt"></i>
      </button>
    </div>
    <div v-show="showForm">
      <div v-if="showAlert" class="text-white text-center font-bold p-4 m-4" :class="alertVariant">
        {{ alertMessage }}
      </div>
      <vee-form :validationSchema="validationSchema" :initial-values="song" @submit="edit">
        <div class="mb-3">
          <label class="inline-block mb-2">Song Title</label>
          <vee-field
            @input="setEditStatus(true)"
            name="modified_name"
            type="text"
            class="block w-full py-1.5 px-3 text-gray-800 border border-gray-300 transition duration-500 focus:outline-none focus:border-black rounded"
            :placeholder="song.modified_name"
          />
          <ErrorMessage class="text-red-600" name="modified_name" />
        </div>
        <div class="mb-3">
          <label class="inline-block mb-2">Genre</label>
          <vee-field
            @input="setEditStatus(true)"
            name="genre"
            type="text"
            class="block w-full py-1.5 px-3 text-gray-800 border border-gray-300 transition duration-500 focus:outline-none focus:border-black rounded"
            :placeholder="song.genre ? song.genre : 'Enter Genre'"
          />
          <ErrorMessage class="text-red-600" name="genre" />
        </div>
        <button
          type="submit"
          :disabled="inSubmisson"
          class="py-1.5 px-3 rounded text-white bg-green-600"
        >
          Submit
        </button>
        <button
          type="button"
          class="py-1.5 px-3 rounded text-white bg-gray-600"
          @click.prevent="showForm = !showForm"
          :disabled="inSubmisson"
        >
          Go Back
        </button>
      </vee-form>
    </div>
  </div>
</template>

<script>
import { songsCollection, storage } from '@/includes/firebase'

export default {
  name: 'CompositionItem',
  props: {
    song: {
      type: Object,
      required: true,
    },
    updateSong: {
      type: Function,
      required: true,
    },
    removeSong: {
      type: Function,
      require: true,
    },
    index: {
      type: Number,
      required: true,
    },
    setEditStatus: {
      type: Function,
    },
  },
  data() {
    return {
      showForm: false,
      validationSchema: {
        modified_name: 'required',
        genre: 'alpha_spaces',
      },
      inSubmisson: false,
      showAlert: false,
      showDeleteAlert: false,
      alertVariant: 'bg-blue-500',
      alertMessage: 'Please wait. Editing song.',
    }
  },
  methods: {
    async edit(values) {
      this.inSubmisson = true
      this.showAlert = true
      this.alertVariant = 'bg-blue-500'
      this.alertMessage = 'Please wait. Editing song.'
      let success = false
      // Send update request to db
      try {
        await songsCollection.doc(this.song.id).update(values)
        this.alertVariant = 'bg-green-500'
        this.alertMessage = 'Data updated!'
        success = true
        this.setEditStatus(false)
      } catch (error) {
        console.log(error)
        this.alertVariant = 'bg-red-500'
        this.alertMessage = 'An error occured during the update'
      } finally {
        setTimeout(() => {
          this.showAlert = false
          this.inSubmisson = false
          if (success) {
            this.showForm = false
            this.updateSong(this.index, values)
          }
        }, 2000)
      }
    },
    async deleteSong() {
      this.inSubmisson = true
      this.showDeleteAlert = true
      this.alertVariant = 'bg-blue-500'
      this.alertMessage = 'Please wait. Deleting song.'
      const storageRef = storage.ref()
      const songRef = storageRef.child(`songs/${this.song.original_name}`)

      try {
        await songRef.delete()
        await songsCollection.doc(this.song.id).delete()
        this.alertVariant = 'bg-green-500'
        this.alertMessage = 'Successful deletion.'
        setTimeout(() => {
          this.removeSong(this.index)
        }, 2000)
      } catch (error) {
        console.log(error)
        this.alertVariant = 'bg-red-500'
        this.alertMessage = 'An error occured during the Delete'
      } finally {
        setTimeout(() => {
          this.showDeleteAlert = false
          this.inSubmisson = false
        }, 2000)
      }
    },
  },
}
</script>
