<template>
  <div class="col-span-1">
    <div class="bg-white rounded border border-gray-200 relative flex flex-col">
      <div class="px-6 pt-6 pb-5 font-bold border-b border-gray-200">
        <span class="card-title">Upload</span>
        <i class="fas fa-upload float-right text-green-400 text-2xl"></i>
      </div>
      <div class="p-6">
        <!-- Upload Dropbox -->
        <div
          class="w-full px-10 py-20 rounded text-center cursor-pointer border border-dashed border-gray-400 text-gray-400 transition duration-500 hover:text-white hover:bg-green-400 hover:border-green-400 hover:border-solid"
          :class="{ 'bg-green-400 border-green-400 border-solid': is_dragover }"
          @drag.prevent.stop=""
          @dragstart.prevent.stop=""
          @dragend.prevent.stop="is_dragover = false"
          @dragover.prevent.stop="is_dragover = true"
          @dragenter.prevent.stop="is_dragover = true"
          @dragleave.prevent.stop="is_dragover = false"
          @drop.prevent.stop="upload($event)"
        >
          <h5>Drop your files here</h5>
        </div>
        <input type="file" multiple @change="upload($event)" />
        <hr class="my-6" />
        <!-- Progess Bars -->
        <div class="mb-4" v-for="upload in uploads" :key="upload.name">
          <!-- File Name -->
          <div class="font-bold" :class="upload.text_class">
            <i :class="upload.icon"></i>
            {{ upload.name }}
          </div>
          <div class="flex h-4 overflow-hidden bg-gray-200 rounded">
            <!-- Inner Progress Bar -->
            <div
              class="transition-all progress-bar text-center"
              :style="{ width: upload.current_progress + '%' }"
              :class="upload.variant + ' ' + upload.text_class"
            >
              {{ upload.message }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { storage, auth, songsCollection } from '@/includes/firebase'
export default {
  name: 'Upload',
  props: {
    addSong: {
      type: Function,
      required: true,
    },
  },
  data() {
    return {
      is_dragover: false,
      uploads: [],
    }
  },
  methods: {
    initSongObject(uploadTask, filename, classVariant, icon, message) {
      return {
        uploadTask,
        current_progress: 0,
        name: filename,
        variant: classVariant,
        icon: icon,
        text_class: 'text-sm',
        message: message,
      }
    },
    upload($event) {
      this.is_dragover = false /** removes the color effect from the drag class */
      const files = $event.dataTransfer ? [...$event.dataTransfer.files] : [...$event.target.files]
      files.forEach((file) => {
        if (file.type != 'audio/mpeg') {
          const failedUpload = this.initSongObject(
            file,
            file.name,
            'bg-red-400',
            'fas fa-file-excel',
            'Invalid file type'
          )
          failedUpload.current_progress = 100
          failedUpload.text_class = 'text-xs'
          this.uploads.push(failedUpload)
          return
        }
        // Upload file to firebase here
        const storageRef = storage.ref()
        const songRef = storageRef.child(`songs/${file.name}`)
        const uploadTask = songRef.put(file)
        const uploadIndex =
          this.uploads.push(
            this.initSongObject(uploadTask, file.name, 'bg-blue-400', 'fas fa-spinner fa-spin', '')
          ) - 1
        // the push function returns the size of the array. Subtract one to get the index of the last item
        uploadTask.on(
          'state_changed',
          // Hanling the progress
          (snapshot) => {
            const progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100
            this.uploads[uploadIndex].current_progress = progress
          },
          (error) => {
            this.uploads[uploadIndex].variant = 'bg-red-400'
            this.uploads[uploadIndex].icon = 'fas fa-times'
            console.log(error)
          },
          async (/** success */) => {
            // Store data in DB before updating progress bar
            const uploadSong = {
              uid: auth.currentUser.uid,
              display_name: auth.currentUser.displayName,
              original_name: uploadTask.snapshot.ref.name,
              modified_name: uploadTask.snapshot.ref.name,
              genre: '',
              comment_count: 0,
            }

            // Await functions return promises
            uploadSong.url = await uploadTask.snapshot.ref.getDownloadURL()
            const songRef = await songsCollection.add(uploadSong) // How to handle a repeat upload?
            const songSnapshot = await songRef.get()

            this.uploads[uploadIndex].variant = 'bg-green-400'
            this.uploads[uploadIndex].icon = 'fas fa-check'
            this.uploads[uploadIndex].text_class = 'text-green-400'
            this.addSong(songSnapshot)
          }
        )
      })
    },
    cancelUploads() {
      this.uploads.forEach((upload) => {
        if (upload.progress != 100) {
          upload.uploadTask.cancel()
        }
      })
    },
  },
  beforeUnmount() {
    // Cancel uploads that are not finished when navigating away from the page
    // Alternatively, you can use navigation route
    this.cancelUploads()
  },
}
</script>
